<section id="tileWrapper" class="tile-wrapper small-10 columns no-pre-header archives">
  <%- @issues.each_with_index do |issue, index| -%>
    <div class="tile-large tile <%= "inverted" if index % 2 == 0 %>">
      <%= link_to issue do %>
        <span class='tile-image' style="background-image:url(<%= issue.cover_image %>)"></span>
        <span class="overlay"></span>
        <div class="caption">
          <h2><%= issue.title %></h2>
          <h3><%= issue.year.strftime('%Y') if !issue.year.blank? %></h3>
          <span class="desktop-only"><%= issue.featured %></span>
        </div>
      <%- end -%>
    </div>
  <%- end -%>
</section>


<%= will_paginate @issues %>
