<%-
  @verticals = verticals_list

  if @current_vertical.nil?
    @current_vertical = ''
  end

  vertical_active = ''
-%>

<nav id="header" class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name desktop-only">
      <a href="/">
        <span class="logo-big"><%= image_tag 'horizontal_logo_white.png' %></span>
        <span class="logo-half"><%= image_tag 'horizontal_half_height.png' %></span>
      </a>
    </li>
    <li class="name mobile-only"><h1><a href="/" class="mobile-only">SEJGA</a></h1></li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#mobile-nav"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Social Nav Section -->
    <ul class="social-list desktop-only">
      <li class="social">
        <a href="https://twitter.com/saisjournal" class="twitter-follow-button" data-show-count="false">Follow @saisjournal</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li class="social">
        <div class="fb-like" data-href="https://www.facebook.com/saisjournal" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a class="icon-search search-button" href="#"></a>
        <ul class="dropdown">
          <li class="search-form">
            <%= form_tag posts_path, :method => "get", id: "search-form" do %>
              <%= label_tag :search, "Search for:", class: "visually-hidden" %>
              <%= text_field_tag :search, params[:search], placeholder: "Search the Journal" %>
              <%= submit_tag "Search", name: nil %>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/about" class=".about-button">About</a>
        <ul class="dropdown">
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/call-for-submissions">Submit</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/most-recent">Most Recent</a></li>
      <li class="has-dropdown"><a>Sections</a>
        <ul class="dropdown">
          <% for vertical in @verticals do %>
            <li class="vertical-link"><a href="/posts/vertical/<%= vertical.slug %>" data-vertical="<%= vertical.slug %>"><%= vertical.name.titleize %></a></li>
          <% end %>
        </ul>
      </li>
      <!-- <li><a href="/issues">Past Issues</a></li> -->
    </ul>
  </section>
</nav>
