<%- @i = 0 -%>
<%= semantic_nested_form_for @post, multipart: true do |f| %>
  <%= f.inputs "Commentary", multipart: true do %>
    <%= f.input :title, required: true %>
    <%= f.input :subtitle %>
    <%= f.input :by_line, required: true %>
    <%= f.input :blurb, required: true, input_html: {rows: 3, max_length: 100, class: 'text-area-with-limit'} %>
    <span id="img_preview" style="background-image:url(<%= @post.cover_image %>)"></span>
    <%= f.input :cover_image, as: :file%>
    <%= f.input :photo_credit %>
    <%= f.input :photo_url %>
    <%= f.input :photo_title %>
    <%= f.input :abstract %>
    <%= f.semantic_fields_for :sections do |s| %>
      <%- @i += 1 -%>
      <%= s.input :header %>
      <%= s.input :body, as: :ckeditor %>
      <%= s.input :position, input_html: {value: @i} %>
      <%= s.link_to_remove 'Remove This Section', class: 'button alert radius' %>
    <%- end -%>
    <%= f.link_to_add 'Add A Section', :sections, class: 'button success radius' %>
    <%= f.input :notes, as: :ckeditor %>
    <%= f.input :author_bio, input_html: {rows: 5, max_length: 1000, class: 'text-area-with-limit'} %>
    <%= f.input :verticals, as: :check_boxes, collection: Vertical.all %>
    <%= f.input :tag_list %>
    <%= f.input :publish_date, as: :date_picker %>
    <%= f.input :posts, label: 'Related Articles', collection: @posts, input_html: {multiple: true} %>
    <%= f.hidden_field :book_review, value: false %>
    <div data-tooltip aria-haspopup='true' class="has-tip form-checkbox" title="Check this box if the post an archive post">
    <%= f.hidden_field :article_type, value: 'commentary' %>
      <%= f.input :archived %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: {class: 'button success'} %>
    <li class="cancel">
      <a class="button alert" href="/editor-panel">Cancel</a>
    </li>
  <% end %>

<% end %>
