<%- @i = 0 -%>
<%= semantic_form_for @post, multipart: true do |f| %>
  <%= f.inputs "Interview", multipart: true do %>
    <%= f.input :title, required: true %>
    <%= f.input :subtitle %>
    <%= f.input :by_line, required: true %>
    <%= f.input :author_list, label: 'Author(s)' %>
    <%= f.input :blurb, required: true, input_html: {rows: 3, max_length: 100, class: 'text-area-with-limit'} %>
    <span id="img_preview" style="background-image:url(<%= @post.cover_image %>)"></span>
    <%= f.input :cover_image, as: :file%>
    <%= f.input :photo_credit %>
    <%= f.input :photo_url %>
    <%= f.input :photo_title %>
    <%= f.input :abstract %>
    <h3>Sections</h3>
    <div id="sections">
      <%= f.semantic_fields_for :sections do |section| %>
        <%= render 'section_fields', f: section %>
        <div class="links">
          <%= link_to_add_association 'Add A Section', f, :sections, class: 'button success radius' %>
        </div>
      <%- end -%>
    </div>
    <%= f.input :notes, as: :ckeditor %>
    <%= f.input :author_bio, input_html: {rows: 5, max_length: 1000, class: 'text-area-with-limit'} %>
    <%= f.input :verticals, as: :check_boxes, collection: Vertical.all %>
    <%= f.input :audio, as: :file%>
    <%= f.input :tag_list %>
    <%= f.input :publish_date, as: :date_picker %>
    <%= f.input :posts, label: 'Related Articles', collection: @posts, input_html: {multiple: true} %>
    <%= f.hidden_field :book_review, value: false %>
    <%= f.input :article_type, required: true, as: :radio, collection: ['interview', 'commentary', 'scholarly research'] %>
    <div data-tooltip aria-haspopup='true' class="has-tip form-checkbox" title="Check this box if the post an archive post">
      <%= f.input :archived %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: {class: 'button success'} %>
    <li class="cancel">
      <a class="button alert" href="/editor-panel">Cancel</a>
    </li>
  <% end %>

<% end %>
