<%= semantic_form_for [:admin, @post], multipart: true do |f| %>
  <%= f.inputs "Post", multipart: true do %>
    <%= f.input :title %>
    <img id="img_preview" src="#" alt="your image" />
    <%= f.input :cover_image, as: :file, hint: f.template.image_tag(f.object.cover_image.url(:thumb))%>
    <%= f.input :by_line %>
    <%= f.input :content, as: :ckeditor %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, as: :input %>
    <li class="cancel">
      <a href="/admin/posts">Cancel</a>
    </li>
  <% end %>

<% end %>
