<%- for post in @posts -%>
  <li class="row panel column small-10">
    <div class="post-title column small-3">
      <%= link_to post.title, edit_post_path(post) %>
    </div>
    <div class="post-created-date column small-2">
      <%= post.created_at.to_formatted_s(:long) %>
    </div>
    <ul class="button-group round right post-tools">
      <li class="post-publish">
        <%- if post.published? -%>
          <%= link_to 'Unpublish', post_unpublish_path(post), method: :post, class: 'button' %>
        <%- else -%>
          <%= link_to 'Publish', post_publish_path(post), method: :post, class: 'button'%>
        <%- end -%>
      </li>
      <li class="post-delete">
        <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert' %>
      </li>
    </ul>
  </li>
<%- end -%>