<div class="tools">
  <span><%= link_to 'Create a Post', new_post_path %></span>
</div>

<ul class="list-of-posts">
  <%= render 'managed_posts' %>
</ul>
<ul class="filters column small-2 panel callout">
  <li><%= sortable 'title' %></li>
  <li><%= sortable 'created_at', "Created On" %></li>
  <li><%= sortable 'published', "Published?" %></li>
</ul>

<%= will_paginate @posts %>