<div class="modal" id="cite" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <a href="#close" class="btn-close" aria-hidden="true">×</a> <!--CHANGED TO "#close"-->
    </div>
    <div class="modal-body flexbox">
      <div class="tab-box">
        <div class="tab-headers row">
          <div class="cell tab active" data-tab-content="apa">APA</div>
          <div class="cell tab" data-tab-content="mla">MLA</div>
          <div class="cell tab" data-tab-content="chicago">Chicago</div>
        </div>
        <div class="row">
          <div id="apa" class="tab-content active">
            <div class="citation">
              <%= construct_author_list(@post, true) %>. (<%= (@post.publish_date.strftime('%Y, %B %e')) %>). <em><%= @post.title %><%= ": #{@post.subtitle}" if !@post.subtitle.blank? %></em>. Retrieved from <%= request.original_url %>.
            </div>
          </div>
          <div id="mla" class="tab-content">
            <div class="citation">
              <%= construct_author_list(@post) %>. "<%= @post.title %><%= ": #{@post.subtitle}" if !@post.subtitle.blank? %>." <em>The SAIS Europe Journal of Global Affairs</em>. <%= @post.publish_date.strftime('%d %B %Y') %>. Web. <%= Date.today.strftime('%d %B %Y') %>.
            </div>
          </div>
          <div id="chicago" class="tab-content">
            <div class="citation">
              <%= construct_author_list(@post) %>. "<%= @post.title %><%= ": #{@post.subtitle}" if !@post.subtitle.blank? %>." The SAIS Europe Journal of Global Affairs. <%= request.original_url %> (accessed <%= Date.today.strftime('%d %B %Y') %>).
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#close" class="btn">Close</a>  <!--CHANGED TO "#close"-->
    </div>
  </div>
</div>