<%= semantic_nested_form_for @post, multipart: true do |f| %>
  <%= f.inputs "Post", multipart: true do %>
    <%= f.input :title, required: true %>
    <%= f.input :blurb, required: true %>
    <span id="img_preview" style="background-image:url(<%= @post.cover_image %>)"></span>
    <%= f.input :cover_image, as: :file%>
    <%= f.input :by_line, required: true %>
    <%= f.semantic_fields_for :sections do |s| %>
      <%= s.input :header %>
      <%= s.input :body, as: :ckeditor %>
      <%= s.link_to_remove 'Remove This Section' %>
    <%- end -%>
    <%= f.link_to_add 'Add A Section', :sections %>
    <%= f.input :vertical %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, as: :input %>
    <li class="cancel">
      <a href="/editor-panel">Cancel</a>
    </li>
  <% end %>

<% end %>
