<%= semantic_form_for @post, multipart: true do |f| %>
  <%= f.inputs "Post", multipart: true do %>
    <%= f.input :title, required: true %>
    <img id="img_preview" src='<%= @post.cover_image %>' alt="Cover Image" />
    <%= f.input :cover_image, as: :file%>
    <%= f.input :by_line, required: true %>
    <%= f.input :content, as: :ckeditor %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, as: :input %>
    <li class="cancel">
      <a href="/admin/posts">Cancel</a>
    </li>
  <% end %>

<% end %>
