<%= content_for :pre_container do %>
  <section id="homeHeader row">
    <div class="slideshow">
      <% for post in @slides do %>
        <div>
          <%= link_to(post)  do%>
          <span class="overlay"></span>
          <span class="slide-image" style='background-image:url(<%= post.cover_image.cover %>)'></span>
          <div class="caption">
            <h1><%= post.title %></h1>
            <h3><%= post.subtitle %></h3>
            <h4> - By <%= post.by_line %></h4>
            <p><%= post.blurb %></p>
          </div>
          <%- end -%>
        </div>
      <%- end -%>
      <span id="prevArrow" class="icon-angle-left slide-arrow"></span>
      <span id="nextArrow" class='icon-angle-right slide-arrow'></span>
    </div>
  </section>
<%- end -%>