<%= content_for :pre_container do %>
  <section id="homeHeader row">
    <div class="row title-area" data-equalizer>
      <div class="logo small-2 columns" data-equalizer-watch>
        <%= image_tag 'logo.png', {alt: 'logo goes here'} %>
      </div>
      <div class="title small-8 columns" data-equalizer-watch>
        <h1>The SAIS Europe Journal of Global Affairs</h1>
      </div>
      <div class="right small-2 columns" data-equalizer-watch>
        <div class="fb-like" data-href="https://www.facebook.com/saisjournal" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
    <div class="slideshow">
      <% for post in @slides do %>
        <div>
          <%= link_to(post)  do%>
          <span class="overlay"></span>
          <span class="slide-image" style='background-image:url(<%= post.cover_image.cover %>)'></span>
          <div class="caption">
            <h1><%= post.title %></h1>
            <h3><%= post.subtitle %></h3>
            <h4> - By <%= post.by_line %></h4>
            <p><%= post.blurb %></p>
          </div>
          <%- end -%>
        </div>
      <%- end -%>
      <span id="prevArrow" class="icon-angle-left slide-arrow"></span>
      <span id="nextArrow" class='icon-angle-right slide-arrow'></span>
    </div>
  </section>
<%- end -%>