<%-
  position = (@position % 6)
  class_name = ''

  if @slides.include? post
    class_name += " mobile-only"
  else

    if position == 0
      class_name = 'tile-large'
      image = post.cover_image.tile_large
      blurb = post.blurb
    elsif position == 3
      class_name = 'tile-wide'
      image = post.cover_image.tile_wide
      blurb = post.blurb
    elsif position == 2
      class_name = 'tile-tall'
      image = post.cover_image.tile_tall
      blurb = post.blurb
    elsif position == 5
      class_name = 'tile-large'
      image = post.cover_image.tile_large
      blurb = post.blurb
    else
      class_name = 'tile-small'
      image = post.cover_image.tile_small
      blurb = post.blurb.truncate(length: 245, separator: ' ')
    end

    @position += 1
  end

  if image.blank?
    if @missing_images % 4 == 0
      image = image_path 's.jpg'
    elsif @missing_images % 4 == 0
      image = 'images/a.jpg'
    elsif @missing_images % 4 == 0
      image = 'images/i.jpg'
    else @missing_images % 4 == 0
      image = image_path 's.jpg'
    end

    @missing_images += 1
  end
-%>

<div class="tile <%= class_name %> <%= position %>">
  <%= link_to post do %>
    <span class='tile-image' style="background-image:url(<%= image %>)"></span>
    <span class="overlay"></span>
    <span class="title">
      <h2><%= post.title %></h2>
      <h3><%= post.subtitle %></h3>
      <h4>By <%= post.by_line %></h4>
    </span>
    <div class="caption">
      <span><%= blurb %></span>
    </div>
  <%- end -%>
</div>