<%-
  position = ((post_counter - 5) % 17)

  if position == 0
    class_name = 'tile-large'
    image = post.cover_image.tile_large
  elsif position % 9 == 0
    class_name = 'tile-tall'
    image = post.cover_image.tile_tall
  elsif position % 10 == 0
    class_name = 'tile-large'
    image = post.cover_image.tile_large
  else
    class_name = 'tile-small'
    image = post.cover_image.tile_small
  end

  if image.blank?
    if @missing_images % 4 == 0
      image = image_path 's.jpg'
    elsif @missing_images % 4 == 0
      image = 'images/a.jpg'
    elsif @missing_images % 4 == 0
      image = 'images/i.jpg'
    else @missing_images % 4 == 0
      image = image_path 's.jpg'
    end

    @missing_images += 1
  end

  if @slideshow.include? post
    class_name += " mobile-only"
  end
-%>

<div class="tile <%= class_name %>">
  <%= link_to post do %>
    <span class='tile-image' style="background-image:url(<%= image %>)"></span>
    <span class="overlay">
      <div class="caption">
        <span><%= post.blurb %></span>
      </div>
    </span>
    <span class="title"><h2><%= post.title %> <%= position %></h2></span>
  <%- end -%>
</div>