<%-
  no_pattern ||= false

  if !no_pattern
    position = ((@position + 1) % 4)
    class_name = ''

    if !@slides.nil? && @slides.include?(post)
      class_name += " hide-important"
    else

      if position == 0
        if @every_other
          class_name = 'tile-large inverted'
        else
          class_name = 'tile-large'
        end

        @every_other = !@every_other

        image = post.cover_image.tile_large
      elsif position == 3
        class_name = 'tile-small row-end'
        image = post.cover_image.tile_small
      else
        class_name = 'tile-small'
        image = post.cover_image.tile_small
      end

      @position += 1
    end

    if image.blank?
      if @missing_images % 4 == 0
        image = image_path 's.jpg'
      elsif @missing_images % 4 == 0
        image = 'images/a.jpg'
      elsif @missing_images % 4 == 0
        image = 'images/i.jpg'
      else @missing_images % 4 == 0
        image = image_path 's.jpg'
      end

      @missing_images += 1
    end
  else
    class_name = 'tile-large'
    image = post.cover_image.tile_large
  end
-%>

<div class="tile <%= class_name %>">
  <%= link_to post do %>
    <span class='tile-image' style="background-image:url(<%= image %>)"></span>
    <span></span>
    <span class="overlay"></span>
    <span class="title">
    </span>
    <div class="caption">
      <h4>By <%= post.by_line %></h4>
      <h2><%= post.title %></h2>
      <h3><%= post.subtitle %></h3>
      <span class="desktop-only"><%= post.blurb %></span>
    </div>
    <%- if !post.publish_date.blank? -%>
      <span class="date"><%= post.publish_date.strftime("%Y") %></span>
    <%- end -%>
  <%- end -%>
  <%- if post.book_review -%>
    <span class="book-review desktop-only"><span class="icon-book"></span>Book Review</span>
  <%- elsif post.article_type = 'interview' -%>
    <span class="interview desktop-only"><span class="icon-chat-alt"></span>Interview</span>
  <%- elsif !post.abstract.blank? -%>
    <span data-target="<%= post.id %>" class="desktop-only abstract-link">View Abstract</span>
  <%- end -%>

</div>

<div id="<%= post.id %>" class="abstract-lightbox visibly-hidden">
  <div class="abstract-content">
    <span class="close">X</span>
    <p>
      <%= post.abstract %>
    </p>
  </div>
</div>