<div class="tile">
  <%= link_to post do %>
    <span class='tile-image' style="background-image:url(<%= post.cover_image %>)"></span>
    <span class="overlay"></span>
    <span class="title">
    </span>
    <div class="caption">
      <h2><%= post.title %></h2>
      <h3><%= post.subtitle %></h3>
      <h4>By <%= post.by_line %></h4>
    </div>
  <%- end -%>
</div>