<%= render partial: 'home_header' %>

<section id="tileWrapper" class="tile-wrapper small-10 columns">
  <div class="mobile-only slides">
    <% for slide in @slides %>
      <div class="tile">
        <%= link_to slide do %>
          <span class='tile-image' style="background-image:url(<%= slide.cover_image %>)"></span>
          <span class="overlay"></span>
          <span class="title">
          </span>
          <div class="caption">
            <h2><%= slide.title %></h2>
            <h3><%= slide.subtitle %></h3>
            <h4>By <%= slide.by_line %></h4>
          </div>
        <%- end -%>
      </div>
    <% end %>
  </div>
  <div class="desktop-only first-three">
    <% for post in @first_posts %>
      <div class="top-tile tile">
        <%= link_to post do %>
          <span class='tile-image' style="background-image:url(<%= post.cover_image %>)"></span>
          <span class="overlay"></span>
          <div class="caption">
            <h4>By <%= post.by_line %></h4>
            <h2><%= post.title %></h2>
            <h3><%= post.subtitle %></h3>
            <span><%= post.blurb %></span>
          </div>
          <%- if !post.publish_date.blank? -%>
            <span class="date"><%= post.publish_date.strftime("%Y") %></span>
          <%- end -%>
        <%- end -%>
        <%- if !post.abstract.blank? -%>
          <span data-target="<%= post.id %>" class="desktop-only abstract-link">View Abstract</span>
        <%- end -%>
      </div>
    <% end %>
  </div>
  <%= render @posts %>
</section>

<section class="right-side small-2 columns desktop-only">
  <div>
    <ul class="constant-links">
      <li>
        <a href="/call-for-submissions"><%= image_tag('logo_white.png') %><span>The SAIS Europe Journal of Global Affairs is <em>now accepting</em> submissions.</span></a>
      </li>
    </ul>
  </div>
</section>

<%= will_paginate @posts %>