<%

  if @post.authors.length >= 1
    by_line = construct_by_line(@post)
  else
    by_line = @post.by_line
  end

%>

<% content_for :head do %>
    <meta property="og:title" content="<%= @post.title %><%= " - #{@post.subtitle}" if !@post.subtitle.blank? %>">
    <meta property="og:image" content="<%= @post.cover_image.facebook %>">
    <meta property="og:description" content="<%= @post.blurb %>">
    <meta property="og:url" content="<%= request.original_url %>">

    <!-- for google scholar -->
    <meta name="citation_title" content="<%= @post.title %><%= " - #{@post.subtitle}" if !@post.subtitle.blank? %>">
    <meta name="citation_author" content="<%= @post.by_line %>">
    <meta name="citation_publication_date" content="<%= @post.publish_date.strftime('%m/%d/%Y') if !@post.publish_date.blank? %>">
    <meta name="citation_journal_title" content="The SAIS Europe Journal of Global Affairs">
<% end %>

<article itemscope itemtype="http://schema.org/ScholarlyArticle">
  <% if @post.archived? %>
    <!-- <div class="archive-tag">From the Archive</div> -->
  <%- end -%>
  <section class="title-area cover-image" style="background-image:url(<%= @post.cover_image.cover %>)">
    <div class="title">
      <h1 itemprop="name"><%= @post.title %></h1>
      <h2><%= @post.subtitle %></h3>
      <h5>By <span itemprop="author"><%= by_line %></span></h5>
      <span class="visibly-hidden"><%= @post.photo_title %></span>
    </div>
  </section>

  <div class="vertical-tags">
    <% for vertical in @post.verticals do %>
      <a href="/posts/vertical/<%= vertical.name.parameterize %>"><span itemprop="about" class="label"><%= vertical.name %></span></a>
    <%- end -%>
  </div>
  <div class="print-only">Published in <strong itemProp="publisher">The SAIS Journal of Global Affairs</strong></div>
  <div class="publish-date" itemprop="datePublished">
    <%= @post.publish_date.to_formatted_s(:long) if !@post.publish_date.blank? %>
  </div>
  <div class="photo-credit">
    <a href="<%= @post.photo_url %>" target="_blank"><%= @post.photo_credit %></a>
  </div>
  <%- if @post.article_type == 'interview' && !@post.audio.blank? -%>
    <div class="interview-audio">
      <div>Play Interview Audio</div>
      <audio controls>
        <source src="<%= @post.audio %>" type="audio/mp3">
      </audio>
    </div>
  <%- end -%>

  <div class="sticky-social">
    <ul class="social-list">
      <li class="social-item facebook">
        <a class="fbshare" data-title="<%= @post.title %>" data-image="<%= @post.cover_image.thumb %>" data-desc="<%= @post.blurb %>" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank"><span class="social-text">Share on</span><span class="icon-facebook"></span></a>
      </li>
      <li class="social-item twitter">
        <a class="tweet-this" href="https://twitter.com/share?text=<%= CGI::escape(@post.blurb) %><%= CGI::escape(@hashtags) %>&url=<%= CGI::escape(@bitly_url) %>"><span class="social-text">Share on</span><span class="icon-twitter"></span></a>
      </li>
      <li class="social-item cite"><a href="#cite">Cite <span class="quote-icon icon-quote-left"></span><span class="quote-icon icon-quote-right"></span></a></li>
    </ul>
  </div>

  <%= render 'cite' %>

  <div id="nameReminder" class="desktop-only">
    <span><%= @post.title %> <%= ": #{@post.subtitle}" if !@post.subtitle.blank? %> - <%= by_line %></span>
  </div>

  <div class="related-articles desktop-only">
    <h3>Recent Articles</h3>
    <ul>
      <%- for article in @recent_articles -%>
        <li>
          <%= link_to article do%>
            <div class="recent-article" style="background-image:url('<%= article.cover_image.tile_small %>')">
            </div>
            <div class="title"><%= truncate(article.title, length: 47, omission: '...') %></div>
          <%- end -%>
        </li>
      <%- end -%>
    </ul>

    <%- if @post.posts.length > 1 -%>
<!--       <h3>Related Articles</h3>
      <ul>
        <%- for article in @post.posts -%>
          <li>
            <%= link_to article do%>
              <div class="related-article" style="background-image:url('<%= article.cover_image.tile_small %>')">
              </div>
              <div class="title"><%= truncate(article.title, length: 47, omission: '...') %></div>
            <%- end -%>
          </li>
        <%- end -%>
      </ul> -->
    <%- end -%>
  </div>

  <div class="article-content" itemprop="articleBody">
    <% if !@post.abstract.blank? %>
      <section class="abstract" itemprop="description">
        <h3>Abstract</h3>
        <p><%= @post.abstract %></p>
      </section>
    <%- end -%>
    <% for section in @post.sections do %>
      <section id="<%= section.header.parameterize %>" itemprop="articleSection">
        <h3><%= section.header %></h2>
        <div>
          <%= raw section.body %>
        </div>
      </section>
    <%- end -%>
    <%- if !@post.notes.blank? -%>
      <section id="notes" class="notes">
        <h3>Notes &amp; References</h3>
        <%= raw @post.notes %>
      </section>
    <%- end -%>
    <section class="author-bio">
      <%= @post.author_bio %>
    </section>
  </div>

  <% if editor_signed_in? %>
    <div class="editor-tools desktop-only">
      <%= link_to 'Edit', edit_post_path %>
    </div>
  <%- end -%>
</article>

<%= render partial: 'shared/section_navigator', locals: {article: @post} %>
