<article>
  <section class="title-area cover-image" style="background-image:url(<%= @post.cover_image.cover %>)">
    <div class="title">
      <h1><%= @post.title %></h1>
      <h2><%= @post.subtitle %></h3>
      <h5>By <%= @post.by_line %></h5>
    </div>
  </section>

  <div class="verticals">
    <% for vertical in @post.verticals do %>
      <a href="#"><span class="label"><%= vertical.name %></span></a>
    <%- end -%>
  </div>

  <div class="article-content">
    <% for section in @post.sections do %>
      <section id="<%= section.header.parameterize %>">
        <h3><%= section.header %></h2>
        <div>
          <%= raw section.body %>
        </div>
      </section>
    <%- end -%>
  </div>

  <% if editor_signed_in? %>
    <div class="editor-tools">
      <%= link_to 'Edit', edit_post_path %>
    </div>
  <%- end -%>
</article>

<%- if @post.sections.length > 1 -%>
  <div class="section-navigator">
    <div class="progress-bar"></div>
    <ul>
      <%- for section in @post.sections do -%>
        <li><a href="#<%= section.header.parameterize %>"><%= truncate(section.header, length: 20, omission: '...') %></a></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>