<article>
  <section class="title-area">
    <h1><%= @post.title %></h1>
    <h2><%= @post.subtitle %></h3>
    <h5>By <%= @post.by_line %></h5>
  </section>

  <div class="article-content">
    <% for section in @post.sections do %>
      <section>
        <h3><%= section.header %></h2>
        <div>
          <%= raw section.body %>
        </div>
      </section>
    <%- end -%>
  </div>

  <% if editor_signed_in? %>
    <div class="editor-tools">
      <%= link_to 'Edit', edit_post_path %>
    </div>
  <%- end -%>
</article>