<% content_for :head do %>
    <meta property="og:title" content="<%= @post.title %>">
    <meta property="og:image" content="<%= @post.cover_image.thumb %>">
    <meta property="og:description" content="<%= @post.blurb %>">
    <meta property="og:url" content="<%= request.original_url %>">
<% end %>

<article>
  <% if @post.archived? %>
    <!-- <div class="archive-tag">From the Archive</div> -->
  <%- end -%>
  <section class="title-area cover-image" style="background-image:url(<%= @post.cover_image.cover %>)">
    <div class="title">
      <h1><%= @post.title %></h1>
      <h2><%= @post.subtitle %></h3>
      <h5>By <%= @post.by_line %></h5>
      <span class="visibly-hidden"><%= @post.photo_title %></span>
    </div>
  </section>

  <div class="vertical-tags">
    <% for vertical in @post.verticals do %>
      <a href="#"><span class="label"><%= vertical.name %></span></a>
    <%- end -%>
  </div>
  <div class="publish-date">
    <%= @post.publish_date.to_formatted_s(:long) if !@post.publish_date.nil? %>
  </div>
  <div class="photo-credit">
    <a href="<%= @post.photo_url %>" target="_blank"><%= @post.photo_credit %></a>
  </div>

  <div class="sticky-social">
    <ul class="social-list">
      <li class="social-item facebook">
        <div style="position:relative !important;" class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button"></div>
        <!-- <a class="fb-share" data-title="<%= @post.title %>" data-image="<%= @post.cover_image.thumb %>" data-desc="<%= @post.blurb %>" href="<%= request.original_url %>"><span class="social-text">Share on</span><span class="icon-facebook"></span></a> -->
      </li>
      <li class="social-item twitter">Tweet</li>
    </ul>
  </div>

  <%= render 'cite' %>

  <div class="article-content">
    <section class="abstract">
      <h3>Abstract</h3>
      <p><%= @post.abstract %></p>
    </section>
    <% for section in @post.sections do %>
      <section id="<%= section.header.parameterize %>">
        <h3><%= section.header %></h2>
        <div>
          <%= raw section.body %>
        </div>
      </section>
    <%- end -%>
    <div class="author-bio">
      <%= @post.author_bio %>
    </div>
  </div>

  <% if editor_signed_in? %>
    <div class="editor-tools">
      <%= link_to 'Edit', edit_post_path %>
    </div>
  <%- end -%>
</article>

<%- if @post.sections.length > 1 -%>
  <div class="section-navigator desktop-only">
    <div class="progress-bar"></div>
    <ul>
      <%- for section in @post.sections do -%>
        <li><a href="#<%= section.header.parameterize %>"><%= truncate(section.header, length: 20, omission: '...') %></a></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>