<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @page_title ? @page_title : "The SAIS Europe Journal of Global Affairs" %></title>
    <meta name="description" content="<%= @page_description ? @page_description : 'A graduate student publication of the Johns Hopkins University\'s School of Advanced International Studies' %>" />
    <%= content_for :head %>
    <%= favicon_link_tag 'icons/saisjournal.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= javascript_include_tag "vendor/selectivizr.min" %>
    <![endif] -->
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name  %> <%= "no-nav" if @no_nav %>">
    <div id="fb-root"></div>

    <section id="preContainer" class="desktop-only">
      <%= yield :pre_container %>
    </section>
    <%- if !@no_nav -%>
      <%= render partial: "shared/navbar" %>
    <%- end -%>
    <main id="content" class="content-container small-12 columns">
      <%= yield %>
    </main>

    <% if editor_signed_in? %>
      <%= render partial: 'shared/admin_tools' %>
    <% end %>
    <%= javascript_include_tag "application" %>
  </body>
</html>